<!DOCTYPE html>
<html>
<head>
<title>permit+</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id='header'>
    <p id='city'>City of Contopia</p><p id='office'>Office of Permitting & Licensing</p>
    </div>
    <div id='work-area'>

    </div>
<script src="scripts.js">
    </script>
</body>
</html>